.map_box {
    width: 601px;
    margin: 0 auto;
    border: 5px solid black;
    margin-bottom: 50px;
    border-radius: 10px;
}
.map_items h2 {
    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}